<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action = "{{ url_for('edit', taskID=task.id)}}" method = "POST">
        <input type="text" name="task" value="{{ task['task'] }}">
        <select name = "priority">
            <option value = "high" {%if task['priority'] == 'high'%}selected{% endif %}>High</option>
            <option value = "medium"{%if task['priority'] == 'medium'%}selected{% endif %}>Medium</option>
            <option value = "low"{%if task['priority'] == 'low'%}selected{% endif %}>Low</option>
        </select>
        <input type = "date" name = "dueDate" value = "{{task['dueDate']}}">
        <button type="submit">Save</button>
        {% if errorMessage %}
            <div style = "color:red; margin-top: 5px;">{{errorMessage}}</div>
        {% endif %}
    </form>
</body>
</html>