<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Flask To-do App</title>
</head>
<body>
    <h1>Tasks</h1>
    <h2>
        <form action = "{{url_for('sort')}}" method = "POST">
        <select name = 'sortOpt'>
            <option value = "bypriority" {% if currSortMeth == 'bypriority' %}selected{% endif %}>Sort by Priority</option>
            <option value = "bydate" {% if currSortMeth == 'bydate' %}selected{% endif %}>Sort by added date</option>
        </select>
        <button type="submit">Save</button>
    </form>
    </h2>
    <ul>
        {% for task in tasks %}
            <li>
                <input type = "checkbox" name = "done"{% if task['done'] %} checked {% endif %} disabled onchange="this.form.submit()">
                <span{% if task['done'] %} style = "text-decoration: line-through" {% endif %}>{{ task['task'] }}</span>
                <span>{{task['priority']}}</span>
                <a href="{{ url_for('check', taskID = task.id)}}">Check</a>
                <a href="{{ url_for('edit', taskID = task.id)}}">Edit</a>
                <a href="{{ url_for('delete', taskID = task.id)}}">Delete</a>
            </li>
        {% endfor %}
    </ul>
    <form action = "{{ url_for('add')}}" method = "POST">
        <input type="text" name="task">
        <select name = "priority">
            <option value="high">High</option>
            <option value="medium">Medium</option>
            <option value="low">Low</option>
    </select>
        <button type="submit">Add Task</button>

        {% if errorMessage %}
            <div style = "color:red; margin-top: 5px;">{{errorMessage}}</div>
        {% endif %}
    </form>
</body>
</html>